# LC_COLLATE=C sort

gerrit-1/bin
gerrit-1/data
gerrit-1/db
gerrit-1/etc
gerrit-1/git
gerrit-1/index
gerrit-1/lib
gerrit-1/logs
gerrit-1/plugins
gerrit-1/ssh/known_hosts
gerrit-1/tmp

gerrit-2/bin
gerrit-2/data
gerrit-2/db
gerrit-2/etc
gerrit-2/git
gerrit-2/index
gerrit-2/lib
gerrit-2/logs
gerrit-2/plugins
gerrit-2/ssh/known_hosts
gerrit-2/tmp

syslog-sidecar/logs
syslog-sidecar/socket
