[remote "Replication"]
    url = git://gerrit-1:9418/${name}.git
    adminUrl = ssh://root@sshd:22/var/gerrit-1/git/${name}.git
    push = +refs/*:refs/*
    timeout = 600
    rescheduleDelay = 15
    replicationDelay = 5
[gerrit]
    autoReload = true
    replicateOnStartup = true
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5
