[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-multi-site
	create = group plugins-multi-site
	label-Code-Review = -2..+2 group plugins-multi-site
	delete = group plugins-multi-site
[project]
	description = Multi-site support for Gerrit Code Review
