[gerrit]
    basePath = git
    serverId = 69ec38f0-350e-4d9c-96d4-bc956f2faaac
    canonicalWebUrl = $GERRIT_CANONICAL_WEB_URL
    installModule = com.gerritforge.gerrit.eventbroker.BrokerApiModule # events-broker module to setup BrokerApi dynamic item
    installModule = com.googlesource.gerrit.plugins.multisite.Module # multi-site needs to be a gerrit lib
    installDbModule = com.googlesource.gerrit.plugins.multisite.GitModule
[database]
    type = h2
    database = $LOCATION_TEST_SITE/db/ReviewDB
[noteDb "changes"]
    autoMigrate = true
    disableReviewDb = true
    primaryStorage = note db
    read = true
    sequence = true
    write = true
[container]
    javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
    javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
    javaOptions = "-DPUBSUB_EMULATOR_HOST=localhost:$BROKER_PORT"
    javaOptions = "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=$REMOTE_DEBUG_PORT"
[index]
    type = LUCENE
[auth]
    type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
    enableSignedPush = false
[sendemail]
    smtpServer = localhost
[sshd]
    listenAddress = *:$GERRIT_SSHD_PORT
    advertisedAddress = *:$SSH_ADVERTISED_PORT
[httpd]
    listenUrl = proxy-$HTTP_PROTOCOL://*:$GERRIT_HTTPD_PORT/
    requestLog = true
[cache]
    directory = cache
[plugins]
    allowRemoteAdmin = true
[plugin "websession-flatfile"]
    directory = $FAKE_NFS
[plugin "events-kafka"]
    sendAsync = true
    bootstrapServers = localhost:$BROKER_PORT
    groupId = $GROUP_ID
    numberOfSubscribers = 6
    securityProtocol = PLAINTEXT
    pollingIntervalMs = 1000
    enableAutoCommit = true
    autoCommitIntervalMs = 1000
    autoOffsetReset = latest
[plugin "events-aws-kinesis"]
    numberOfSubscribers = 6
    pollingIntervalMs = 1000
    region = us-east-1
    endpoint = http://localhost:$BROKER_PORT
    applicationName = $GROUP_ID
    initialPosition = trim_horizon
[plugin "events-gcloud-pubsub"]
    numberOfSubscribers = 6
    gcloudProject="test-project"
    subscriptionId=$GROUP_ID
    privateKeyLocation="not used in local mode"
[plugin "metrics-reporter-prometheus"]
    prometheusBearerToken = token
