[remote "Replication"]
    $REPLICATION_URL
    push = +refs/*:refs/*
    timeout = 600
    rescheduleDelay = 15
    replicationDelay = $REPLICATION_DELAY_SEC
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
[gerrit]
    autoReload = true
    replicateOnStartup = false
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5