[remote "$REPLICA_INSTANCE_ID"]
    $PULL_REPLICATION_URL
    $PULL_REPLICATION_API_URL
    fetch = +refs/*:refs/*
    mirror = true
    timeout = 600
    rescheduleDelay = 15
    replicationDelay = $REPLICATION_DELAY_SEC
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
[gerrit]
    autoReload = true
    replicateOnStartup = false
[replication]
    lockErrorMaxRetries = 5
    maxRetries = 5
    useCGitClient = false
    consumeStreamEvents = false
    syncRefs="ALL REFS ASYNC"
    maxApiPayloadSize=40000
