[gerrit]
	basePath = git
	serverId = ff17821f-9571-42df-b690-30660f2d6e20
	canonicalWebUrl = http://localhost:8081/
[database]
	type = h2
	database = /var/gerrit/db-volume-1/db/ReviewDB
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
	user = gerrit
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:39418
[httpd]
	listenUrl = http://*:8081/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
