[index]
  maxTries = 6
  retryInterval = 30000
  numStripedLocks = 100

[kafka]
  bootstrapServers = kafka-broker:9092

  indexEventTopic = gerrit_index
  streamEventTopic = gerrit_stream_events
  projectListEventTopic = gerrit_project_list
  cacheEventTopic = gerrit_cache

[kafka "subscriber"]
  enabled = true
  pollingIntervalMs = 1000
  KafkaProp-autoCommitIntervalMs = 1000

[kafka "publisher"]
  enabled = true
