[index]
  maxTries = 6
  retryInterval = 30000
  numStripedLocks = 100

[kafka]
	bootstrapServers = kafka-broker:9092
	securityProtocol = PLAINTEXT
	indexEventTopic = gerrit_index
	streamEventTopic = gerrit_stream
	projectListEventTopic = gerrit_list_project
	cacheEventTopic = gerrit_cache_eviction

[kafka "subscriber"]
	enabled = true
	pollingIntervalMs = 1000
	KafkaProp-enableAutoCommit = true
	KafkaProp-autoCommitIntervalMs = 1000
	KafkaProp-autoOffsetReset = latest

[kafka "publisher"]
	enabled = true

[ref-database "zookeeper"]
	connectString = "zookeeper:2181"
